footer {
    margin-top: auto;
    display: flex;
    background: rgb(0, 0, 0);
    padding: 20px 30px;
    justify-content: space-around;
    text-align: center;
    height: 12vh;
    width: 100%;
    position: absolute;
}

p {
    text-align: center;
    padding-bottom: 50%;
}
h2 {
 color: white;
}