button {
    padding: 14px, 16px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s;
    font-size: 25px;
    font-weight: bold;
}

.button:hover {
    opacity: 0.5;
}

.button:active {
    background: #705434;
    color: white;
}